<h2><%= @me.username %></h2>
<h3><%= @me.email %></h3>

<h2>About Me</h2>
<% form_for :user, @me do |form| %>
<%= form.text_area :aboutMe, :rows => 4, :cols => 60 %><br/>
<%= submit_tag "Update" %>
<% end %>

<% if session["person"].username=="admin" %>
        <%= link_to h("Create new project"), :controller => "project", :action =>"createProject" %>
<% end %>

<% unless @chaptersToWrite.empty? %>
 <h3>Chapters to Write</h3>
 <% for chapter in @chaptersToWrite %>
   <div class ="entry">
      <p><%= link_to h("#{chapter.book.title}, Chapter #{chapter.number}"), :controller => "book", :action =>"editBook", :id => chapter.book %></p>
   </div>
 <% end %>
<% end %>


<% unless @chaptersToEdit.empty? %>
 <h3>Chapters to Edit</h3>
 <% for chapter in @chaptersToEdit %>
        <div class ="entry">
                <p><%= link_to h("#{chapter.book.title}, Chapter #{chapter.number}"), :controller => "book", :action =>"editBook", :id => chapter.book %></p>
        </div>
 <%end%>
<% end %>

<%unless @currentProjects.empty? %>
<h3>Projects in which I am participating</h3>
<table class="sortable" border=1>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project/project", :collection => @currentProjects) %>
</table>
<% end %>

<%unless @myProjects.empty? %>
<h3>Projects that I manage</h3>
<table class="sortable" border=1>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project/project", :collection => @myProjects) %>
</table>
<% end %>

<% unless @myCompletedBooks.empty? %>
 <h3> My Completed Books</h3>
 <% for book in @myCompletedBooks %>
   <p><%= link_to h(book.title), :controller => "book", :action =>"read", :id => book %></p>
 <% end %>
<% end %>
