<h2>About Me</h2>
<p><%= @me.aboutMe %></p>
<% if session["person"].username=="admin" %>
	<%= link_to h("Create new project"), :controller => "project", :action =>"createProject" %>
<% end %>

<% unless @chaptersToWrite.empty? %>
 <h3>Chapters to Write</h3>
 <% for chapter in @chaptersToWrite %>
   <div class ="entry">
      <p><%= link_to h("#{chapter.book.title}, Chapter #{chapter.number}"), :controller => "book", :action =>"reviewChapter", :id => chapter.book %></p>
   </div>
 <% end %>
<% end %>


<% unless @chaptersToEdit.empty? %>
 <h3>Chapters to Edit</h3>
 <% for chapter in @chaptersToEdit %>
	<div class ="entry">
		<p><%= link_to h("#{chapter.book.title}, Chapter #{chapter.number}"), :controller => "book", :action =>"editBook", :id => chapter.book %></p>
	</div>
 <%end%>
<% end %>


<%unless @myProjects.empty? %>
<h3>Projects I own</h3>
 <% for project in @myProjects %>
	<div class ="entry">
		<p><%= link_to h(project.name), :controller => "project", :action =>"individualProject", :id => project %></p>
	</div>
 <%end%>
<% end %>

<% unless @myCompletedBooks.empty? %>
 <h3> My Completed Books</h3>
 <% for book in @myCompletedBooks %>
   <p><%= link_to h(book), :controller => "book", :action =>"read", :id => book %></p>
 <% end %>
<% end %>

<%= link_to "Browse All Books", :controller => "book" %><br/><br/>

