<b>TODO</b>: Check access permissions!!!
<% if @book.cur_chapter == 1 %>
<% form_for :book do |form| %>
<%= form.label "Book Title" %>
<%= form.text_field :title %><br/>
<%= form.label "Keywords (comma separated)" %>
<%= form.text_field :keywords %><br/>
<%= submit_tag "Update Book" %>
<% end %>
<% else %>
<h1><%= h(@book.title) %></h1>
<p>Keywords: <%= h(@book.keywords) %></p>
<% end %>
<% for chapter in @book.chapters %>
 <div class="chapter<%= chapter.number %>">
 <% if chapter.user == session["person"] or chapter.book.editor == session["person"] or session["person"].id == 1 %>
  <%= render(:partial => "editChapter", :locals => { :chapter => chapter }) %>
 <% else %>
  <%= render(:partial => "chapter", :locals => { :chapter => chapter }) %>
 <% end %>
 <hr/>
 </div>
<% end %>
