<% unless @book.nil? %>
<% if @book.published or @currentUser.id == 1 or @currentUser == @project.owner or @currentUser == @book.editor %>
<p align="right"><%= link_to "Printable Version", :controller => :book, :action =>:print, :id => @book.id %></p>
<% end %>
<% if @book.cur_chapter >1 %>
<h1 align="center"><%= @book.title %></h1>
<% end %>
<small>Editor: <%= link_to h(@book.editor.username), :controller => "users", :action => "profile", :id =>@book.editor.id %></small>
<% for chapter in @book.chapters %>
 <% if chapter.user_can_edit(@currentUser) or (chapter.number <= @lastChapterThisBook and chapter.number <= @lastVisibleChapter) %>
  <div class="chapter<%= chapter.number %>">
   <% if chapter.user_can_write(@currentUser) or chapter.user_can_edit(@currentUser) %>
     <%= render(:partial => "editChapter", :locals => { :chapter => chapter }) %>
   <% else %>
     <%= render(:partial => "chapter", :locals => { :chapter => chapter }) %>
   <% end %>
   <hr/>
  </div>
 <% end %>
<% end %>

<% end %>