<tr>
  <td><%= link_to project.name, {:controller => "project", :action => "individualProject", :id => project.id } %></td>
  <td><%= project.signing_date %></td>
  <td><%= project.days_per_chapter %></td>
  <td><%= project.chapters %></td>
  <td>
	<%if project.status == :new %> NEW <% end %>
	<%if project.status == :open %> OPEN <% end  %>
	<%if project.status == :writing %> WRITING <% end %>
	<%if project.status == :editing %> EDITING <% end %>
	<%if project.status == :complete %> COMPLETE <% end %>
	<%if project.status == :published %> PUBLISHED <% end %>
  </td>
  <td><%= project.owner.username %></td>
</tr>