<h1>Create New Project/Edit Existing Project</h1>
<%= form_for :project do |form| %>
<%= form.label "Project Name" %>
<%= form.text_field :name %><br>
<%= form.label "Owner" %>
<%= select("project", "owner_id", User.find(:all).collect {|u| [ u.username, u.id ] }) %><br/>
<%= form.label "Chapters Per Book" %>
<%= form.text_field :chapters %><br>
<%= form.label "Days Per Chapter" %>
<%= form.text_field :days_per_chapter %><br>
<%= form.label "Maximum writers" %>
<%= form.text_field :max_writers %><br>
<%= form.label "Make Private?" %>
<%= form.check_box :private %><br/>
<%= form.label "Start Date" %>
<%= form.date_select :start_date %><br/>
<%= form.label "First Due Date" %>
<%= form.date_select :next_due_date %><br/>
<%= form.label "Description" %>
<%= form.text_field :description %><br/>
<%= submit_tag %>
<%end%>