<% unless @project.books.empty? %>
<h3>Progress</h3>
<table border="1">
<tr>
<td>Legend: Chapter status</td><td class="chapterWriting">Writing</td>
<td class="chapterEditing">Editing</td>
<td class="chapterComplete">Accepted</td>
<td class="chapterRejected">Rejected</td>
</tr>
</table>
<br/>
<% if @project.owner == @currentUser or @currentUser.username == "admin" %>
<script>
TableKit.options.editAjaxURI = '<%= url_for :controller => "project", :action => "updater"%>';
TableKit.Editable.textInput('date', {}, function(string) {
  var format = "yyyy-MM-dd";
  var date = Date.parse(string);
  if (date)
  {
    return date.toString(format);
  }
  return date;
}, "today");
TableKit.Editable.selectInput('editors', {}, [
 <% for editor in @project.editors.sort {|a,b| a.username.downcase <=> b.username.downcase} %>['<%= h(editor.username) %>',<%= editor.id %>],<% end %>
                ]);
TableKit.Editable.selectInput('writers', {}, [
 <% for writer in @project.writers.sort {|a,b| a.username.downcase <=> b.username.downcase} %>['<%= h(writer.username) %>',<%= writer.id %>],<% end %>
                ]);
</script>
<table class="sortable editable"  border="1">
<% else %>
<table class="sortable"  border="1">
<% end %>
<thead>
<tr>
<th class="noedit">Book</th>
<th id="editors">Editor <% if @project.owner == @currentUser or @currentUser.username == "admin" %>
<br/><i>click to change</i><% end %>
<% for chapter in 1..@project.books[0].cur_chapter %>
<% if (@project.books[0].cur_chapter == chapter and @project.owner == @currentUser) or @currentUser.username == "admin" %>
<th id="writers"><%= chapter %><br/><i>click to change</i></th>
<% else %>
<th class="noedit"><%= chapter %></th>
<% end %>
<% end %>
</tr>
</thead>
<tbody>
<% for book in @project.books %>
  <tr class="<%= cycle("odd", "even") %>" id="<%= book.id %>">
   <td><%= link_to h(book.title), :controller => "book", :action =>"editBook", :id => book %></td>
   <td>
   <% if @project.owner == @currentUser or @currentUser.username == "admin" %>
      <%= h(book.editor.username) %>
   <% else %>
      <%= link_to h(book.editor.username), :controller => "users", :action => "profile", :id =>book.editor.id %>
   <% end %>
   </td>
   <% for chapter in 0..@project.books[0].cur_chapter-1 %>
      <% if ! book.chapters[chapter].nil? %>
        <td class="<%= case book.chapters[chapter].state
                    when "writing" then "chapterWriting"
                    when "editing" then "chapterEditing"
                    when "accepted" then "chapterComplete"
		    when "rejected" then "chapterRejected"
                   end %>">
	   <% if @project.owner == @currentUser or @currentUser.username == "admin" %>
	      <%= h(book.chapters[chapter].user.username) %>
	   <% else %>
	      <%= link_to h(book.chapters[chapter].user.username), :controller => "users", :action => "profile", :id =>book.chapters[chapter].user.id %></td>
	   <% end %>
      <% else %>
         <td></td>
      <% end %>
   <% end %>
  </tr>
<% end %>
</tbody>
</table>
<p>
<% if (@project.owner == @currentUser or @currentUser.username == "admin") and @project.books[0].cur_chapter<= @project.chapters %>
<% if @project.books[0].chapters[@project.books[0].cur_chapter-1].state == "new" %>
<% form_tag :controller => :project, :action =>:startNextChapter, :id => @project.id do %>
Click here to notify writers of the new chapter
<%= submit_tag "Send out chapter notices" %>
<% end %>
<% else %>
<% if @project.books[0].cur_chapter< @project.chapters %>
<% form_tag :controller => :project, :action =>:nextChapter, :id => @project.id do %>
Click here to start the next chapter:
<%= submit_tag "Begin next chapter" %>
<% end %>
<% end %>
<% end %>
<% end %>
</p>
<% end %>

<h3>Statistics</h3>
<p>The project is now <b><%= @project.phase %></b>.</p>
<p>Each book in this project has <%= @project.chapters %> chapters.</p>
<p>Each chapter should be written in  <%= @project.days_per_chapter %> days.</p>

<% if @project.status == Project::OPEN %>
<p><%= link_to "Sign me up!", :action => "projectSignUp", :id => @project %>: I would like to be a writer or editor in this project!<p/>
<% end %>

<h3>Registered Editors</h3>
<ul>
<% for editor in @project.editors.sort {|a,b| a.username.downcase <=> b.username.downcase} %>
<li><%= link_to h(editor.username), :controller => "users", :action => "profile", :id =>editor.id %></li>
<%end%>
</ul>

<h3>Registered Writers</h3>
<ul>
<% for writer in @project.writers.sort {|a,b| a.username.downcase <=> b.username.downcase} %>
<li><%= link_to h(writer.username), :controller => "users", :action => "profile", :id =>writer.id %></li>
<%end%>
</ul>

<% if @project.owner == @currentUser  or @currentUser.username == "admin" %>
<% unless @next_state.nil? %>
<h3>Update Project Status</h3>
<% form_for :project, @project, :url => { :action => "advanceProject", :id => @project.id } do |form| %>
<%= hidden_field_tag 'next_state', @next_state %>
<%= submit_tag "Set Project to #{@next_state}"%>
<% end %>
<% end %>
<% end %>

<h3>Project Details</h3>
<% if @project.owner == @currentUser  or @currentUser.username == "admin" %>
<% form_for :project, @project, :url => { :action => "individualProject" } do |form| %>
<%= form.label "Status: " %>  <%= @project.phase %><br/>
<%= form.label "Start Date" %>
<%= form.date_select :start_date %><br/>
<%= form.label "First Due Date" %>
<%= form.date_select :next_due_date %><br/>
<%= form.label "Signing Date" %>
<%= form.date_select :signing_date %><br/>
<%= form.label "Project Name" %>
<%= form.text_field :name %><br/>
<%= form.label "Description" %>
<%= form.text_area :description, :class=>"widgEditor" %><br/>
<%= submit_tag "Update Project" %>
<%= if @currentUser.username == "admin" then submit_tag "Delete Project" end %>
<% end %>
<% else %>
<p><b>Project Owner:</b> <%= @project.owner.username %><br/>
<% unless @project.description.empty? %>
   <b>Signing Date:</b> <%= @project.signing_date %><br/>
   <b>Description:</b> <br/>
   <blockquote><%= @project.description %></blockquote>

<% end %>
</p>
<% end %>
