<h3>Statistics</h3>
<p>The project is now <b><%= @project.phase %></b>.</p>
<p>Each book in this project has <%= @project.chapters %> chapters.</p>
<p>Each chapter should be written in  <%= @project.days_per_chapter %> days.</p>

<% if @project.status == Project::OPEN %>
<p><%= link_to "Sign me up!", :action => "projectSignUp", :id => @project %>: I would like to be a writer or editor in this project!<p/>
<% end %>

<% if @project.owner == session["person"]  or session["person"].username == "admin" %>
<% form_for :project, @project, :url => { :action => "individualProject" } do |form| %>
<%= form.label "Status: " %>
<%= select :project, :status, {"NEW" => 0, "OPEN" => 1, "WRITING" => 2, "EDITING" => 3, "COMPLETE" => 4, "PUBLISHED" => 5} %><br/>
<%= form.label "Start Date" %>
<%= form.date_select :start_date %><br/>
<%= form.label "First Due Date" %>
<%= form.date_select :next_due_date %><br/>
<%= form.label "Signing Date" %>
<%= form.date_select :signing_date %><br/>
<%= form.label "Description" %>
<%= form.text_area :description, :class=>"widgEditor" %><br/>
<%= submit_tag "Update Project" %>
<%= if session["person"].username == "admin" then submit_tag "Delete Project" end %>
<% end %>
<% else %>
<p>About this project:<br/>
   <%= @project.description %>
</p>
<% end %>

<% unless @project.books.empty?%>
<h3>Books</h3>
<% if @project.owner == session["person"] or session["person"].username == "admin" %>
<script>
TableKit.options.editAjaxURI = '<%= url_for :controller => "project", :action => "updater"%>';
TableKit.Editable.textInput('date', {}, function(string) {
  var format = "yyyy-MM-dd";
  var date = Date.parse(string);
  if (date)
  {
    return date.toString(format);
  }
  return date;
}, "today");
TableKit.Editable.selectInput('editors', {}, [
 <% for editor in @project.editors %>['<%= h(editor.username) %>',<%= editor.id %>],<% end %>
		]);
TableKit.Editable.selectInput('writers', {}, [
 <% for writer in @project.writers %>['<%= h(writer.username) %>',<%= writer.id %>],<% end %>
		]);
</script>
<table class="editable sortable"  border="1">
<% else %>
<table class="sortable" border="1">
<% end %>
<thead>
 <tr>
   <th class="noedit">Book Title</th>
   <th id="editors">Editor<br/>click to change</th>
   <th class="noedit">Current Chapter</th>
   <th class="noedit">Current Writer</th>
   <th class="noedit">Completed Chapters</th>
   <th class="noedit">Published</th>
 </tr>
</thead>
<tbody>
<% for book in @project.books %>
<tr class="<%= cycle("odd", "even") %>" id="<%= book.id %>">
<td><%= link_to h(book.title), :controller => "book", :action =>"editBook", :id => book %></td>
<td><%= book.editor.username %></td>
<td><%= book.cur_chapter %></td>
<td><%= book.chapters[book.cur_chapter-1].user.username %></td>
<td><%= book.chapters.map{|c| c.edited == true ? 1  : nil}.compact.length %></td>
<td><%= book.published %></td>
</tr>
<%end%>
</tbody>
</table>
<%end%>
<% if ! @project.books.empty? %>
<h3>Progress</h3>
<% if @project.owner == session["person"] or session["person"].username == "admin" %>
<table class="sortable editable"  border="1">
<% else %>
<table class="sortable"  border="1">
<% end %>
<thead>
 <tr>
   <th class="noedit">Book</th>
   <% for chapter in 1..@project.books[0].cur_chapter %>
     <% if @project.books[0].cur_chapter == chapter or session["person"].username == "admin" %>
          <th id="writers"><%= chapter %></th>
     <% else %>
          <th class="noedit"><%= chapter %></th>
     <% end %>
   <% end %>
 </tr>
</thead>
<tbody>
 <% for book in @project.books %>
  <tr class="<%= cycle("odd", "even") %>" id="<%= book.id %>">
   <td><%= link_to h(book.title), :controller => "book", :action =>"editBook", :id => book %></td>
   <% for chapter in 0..@project.books[0].cur_chapter-1 %>
      <% if ! book.chapters[chapter].nil? %>
        <td class="<%= case book.chapters[chapter].state 
		    when "writing" then "chapterWriting" 
		    when "editing" then "chapterEditing" 
		    when "accepted" then "chapterComplete" 
		   end %>">
	   <%= book.chapters[chapter].user.username %></td>
      <% else %>
         <td></td>
      <% end %>
   <% end %>
  </tr>
 <%end%>
</tbody>
</table>
<p>Click here to start the next chapter: <%= link_to "BEGIN NEXT CHAPTER", :controller => "project", :action =>"nextChapter", :id => @project %>
</p>

<% end %>

<h3>Registered Editors</h3>
<ul>	
<% for editor in @project.editors %>
<li><%= h(editor.username) %></li>
<%end%>
</ul>

<h3>Registered Writers</h3>
<ul>	
<% for writer in @project.writers %>
<li><%= h(writer.username) %></li>
<%end%>
</ul>
