<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Sign up fo #project name#</title>
	</head>
	<body>
		<h3>Signing up for a project is a commitment. If you understand this and are willing to commit to writing a chapter every |get days| days, check below and submit</h3>
		<%form_for :signUp do |form| %>
		<%= form.check_box :agree %>
		<%= form.label :agree%><br><br>
		<%= form.check_box :writer%>
		<%= form.label :writer%><br><br>
		<%= form.check_box :editor%>
		<%= form.label :editor%><br><br>
		<%= submit_tag "Sign me up!" %>
		<%end%>
	</body>
</html>
