<%if ! @currentProjects.empty? %>
<h2>Projects in which I currently participate</h2>
<table class="sortable" border=1>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project", :collection => @currentProjects) %>
</table>
<%end%>
<%if ! @oldProjects.empty? %>
<h2>Project that I worked on</h2>
<table class="sortable" border=1>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project", :collection => @oldProjects) %>
</table>
<%end%>
<%if ! @activeProjects.empty? %>
<h2>Projects that I can join</h2>
<table class="sortable" border="1">
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project", :collection => @activeProjects) %>
</table>
<%end%>
<%if ! @completeProjects.empty? %>
<h2>Completed Projects that might be fun to look at</h2>
<table>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project", :collection => @completeProjects) %>
</table>
<%end%>
<% if session["person"].id == 1 %>
<h2>All Projects</h2>
<table class="sortable" border=1>
  <tr>
  <td>Project Name</td>
  <td>Signing Date</td>
  <td>Days Per Chapter</td>
  <td>Number of Chapters</td>
  <td>Status</td>
  <td>Owner</td>
  </tr>
  <%= render(:partial => "project", :collection => Project.find(:all)) %>
</table>
<% end %>