<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Sign up fo #project name#</title>
	</head>
	<body>
		<p>Signing up for a project is a commitment. If you
understand this and are willing to commit to writing a chapter every
<%= @project.days_per_chapter %> days, check below and submit.  If you
are a real glutton for punishment, you can also sign up as an editor.</p>
		<%= form_for :signUp do |form| %>
		<%= form.check_box :writer%>
		<%= form.label "I will write in this project"%><br><br>
		<%= form.check_box :editor%>
		<%= form.label "I am willing to be an editor" %><br><br>
		<%= submit_tag "Sign me up!" %>
		<%end%>
	</body>
</html>
