<%= error_messages_for 'user' %>

<fieldset>
<legend>Reset Password</legend>

<% form_for :me, :method => :post do |form| %>
  <p>
    <label for="user_name">Username:</label> <%= h(@me.username) %>
  </p>

  <p>
    <label for="user_password">Password:</label>
    <%= form.password_field :password, :size => 40 %>
  </p>

  <p>
    <label for="user_password_confirmation">Confirm:</label>
    <%= form.password_field :password_confirmation, :size => 40 %>
  </p>

  <%= submit_tag "Reset Password", :class => "submit" %>
<% end %>  
</fieldset>
