<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= "#{h @page_title} - " if @page_title %><%= 'BookProject' %></title>
  <%= stylesheet_link_tag 'display', :media => "all"%>
  <%= stylesheet_link_tag 'widgEditor', :media => "all"%>
  <%= javascript_include_tag "prototype", "effects" %>
  <!-- <%= javascript_include_tag "lowpro" %> -->
  <%= javascript_include_tag "fastinit" %>
  <%= javascript_include_tag  "tablekit" %>
  <%= javascript_include_tag  "date-en-US" %>
  <%= javascript_include_tag  "widgEditor" %>

<% unless @feed_icons.blank? -%>
  <% @feed_icons.each do |feed| -%>
  <%= auto_discovery_link_tag :rss, feed[:url], :title => "Subscribe to '#{feed[:title]}'" %>
  <% end -%>
<% end -%>
</head>
<body>

<div id="header">
	<%= form_tag "forem/posts/find_post", :method => :get do -%>
	<ul id="nav">
		<% if @currentUser -%> 
		<% if @currentUser.forem_admin %>
		<li><%= link_to "Administrate", forem.admin_root_url %></li>
		<% end %>
		<% if @currentUser.id == 1 -%> 
		<li><%= link_to "List Users", :controller =>"login", :action => "list_users" %><li/> 
	        <% end -%>
		<li><%= link_to "Logout", :controller =>"login", :action => "logout" %><li/> 
		<li><%= link_to "Projects", :controller =>"Project", :action => "projectPage" %></li>
		<% else -%>
		<li><%= link_to "Login", :controller =>"login", :action => "login" %></li>
		<% end -%> 
		<li><%= link_to "Books", :controller =>"Book" %></li>
		<li><%= link_to "Rules", :controller =>"Main", :action => "rules" %></li>
		<li><%= link_to "Help", :controller =>"Main", :action => "contact" %></li>
		<% if @currentUser != nil -%> 
		<li class="login"><%= @currentUser.username %></li>
		<% end -%>
  </ul>
  <% end -%>
  <h1><%= link_to 'BookProject', :controller => "main" %></h1>
</div>
			
