<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Book Project Online Website</title>
<%= stylesheet_link_tag "display", :media => "all" %> 
<%= javascript_include_tag :defaults, "fastinit" %>
<%= javascript_include_tag :defaults, "tablekit" %>
<%= javascript_include_tag :defaults, "date-en-US" %>
<%= stylesheet_link_tag 'widgEditor', :media => "all"%>
<%= javascript_include_tag :defaults, "widgEditor" %>
</head>
	<body id="home">
		<div id="banner">
			<%= @page_title || "Book Project" %>
		  <% unless session["person"].nil? %>
		  <p>User: <%= session["person"].username %></p>
		  <% end %>
		</div>
		 <div id="columns"> 
			<div id="side"> 
				<% if session["person"] -%> 
				<%= link_to "Home", :controller => "main", :action => "personalPage" %><br />
				<% else -%> 
				<%= link_to "Home", :controller =>"main" %><br /> 
				<% end -%> 
				<%= link_to "Rules", :controller =>"main", :action => "rules" %><br /> 
				<%= link_to "About Us", :controller =>"main", :action => "about" %><br /> 
				<%= link_to "Contact", :controller =>"main", :action => "contact" %><br /> 
				<%= link_to "Browse Books", :controller =>"Book"%><br /> 
				<% if session["person"] -%> 
				<%= link_to "Browse Projects", :controller =>"Project", :action => "projectPage" %><br /> 
				<% if session["person"].id == 1 -%> 
				<%= link_to "List Users", :controller =>"login", :action => "list_users" %><br /> 
			        <% end -%>
				<%= link_to "Logout", :controller =>"login", :action => "logout" %><br /> 
				<% end -%> 

			</div>
				<div id="main">
					<% if flash[:notice] -%> 
					<div id="notice"><%= flash[:notice] %></div> 
					<% end -%> 
					<%= yield :layout %> 
				</div> 
		</div> 
	</body>
</html>
